---
export interface ServiceType {
  logo: string;
  title: string;
  description: string;
}

const { logo, description, title } = Astro.props as ServiceType;
---

<div class="h-fit w-full space-y-4 pt-2 ring-red-400 prose" title={title}>
  <div class="w-16 h-16 rounded-full bg-white">
    <img src={logo} alt={title} />
  </div>
  <h3 class="">{title}</h3>

  <p class="">{description}</p>
</div>
